.ant-menu-inline-collapsed{
    .ant-menu-title-content{
        a{
            opacity: 0;
        }
    }
}
.modal{
    .ant-modal-footer{
        display: none;
    }
    .ant-modal-close{
        display: none;
    }
}

.modal-confirm{
    .ant-modal-footer{
        display: none;
    }
    .ant-modal-close{
        display: none;
    }
}